<div class="hero-header">
  <div class="wrapper">
    <header>
      <div class="logo">
        <div class="logo-text">FIBRO.PB</div>
      </div>
      <nav>
        <div class="togglebtn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="navlinks">
          <li><a routerLink="/home">Início</a></li>
          <li><a routerLink="/sobre">Sobre</a></li>
        </ul>
      </nav>
    </header>

          <div class="fibro-container">
            <aside class="fibro-menu">

              <button class="menu-btn" routerLink="/info">Fibromialgia</button>
              <button class="menu-btn" routerLink="/sintomas">Sintomas</button>
              <button class="menu-btn active" routerLink="/causas">Causas</button>
              <button class="menu-btn" routerLink="/diagnostico">Diagnóstico</button>
              <button class="menu-btn" routerLink="/tratamento">Tratamentos</button>
            </aside>

            <main class="fibro-content">
              <h1 class="main-title">
                CAUSAS DA <span>FIBROMIALGIA</span>
              </h1>

              <div class="text-box">As causas exatas da fibromialgia ainda não são totalmente compreendidas, mas pesquisas indicam que ela está relacionada ao modo como o sistema nervoso processa os sinais de dor. O organismo passa a interpretar estímulos comuns como mais intensos, o que aumenta a sensibilidade e cria a sensação de dor generalizada.
              Vários fatores podem contribuir para o surgimento da condição. Alterações nos neurotransmissores, como serotonina e noradrenalina, parecem desempenhar um papel importante, influenciando o processamento da dor e o equilíbrio emocional. Há também indícios de que a genética pode estar envolvida, já que a fibromialgia tende a ocorrer com mais frequência entre familiares.
              Situações de grande estresse físico ou emocional, traumas, infecções ou mudanças significativas na rotina podem atuar como gatilhos para o início dos sintomas. Embora nenhum desses elementos seja uma causa isolada, juntos eles indicam que a fibromialgia resulta de uma combinação entre predisposição biológica e fatores ambientais que alteram a sensibilidade do organismo.

            </div>
            </main>
          </div>
    </div>
</div>
