<div class="hero-header">
  <div class="wrapper">
    <header>
      <div class="logo">
        <div class="logo-text">FIBRO.PB</div>
      </div>
      <nav>
        <div class="togglebtn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="navlinks">
          <li><a routerLink="/home">Início</a></li>
          <li><a routerLink="/sobre">Sobre</a></li>
        </ul>
      </nav>
    </header>

          <div class="fibro-container">
            <aside class="fibro-menu">

              <button class="menu-btn" routerLink="/info">Fibromialgia</button>
              <button class="menu-btn" routerLink="/sintomas">Sintomas</button>
              <button class="menu-btn" routerLink="/causas">Causas</button>
              <button class="menu-btn active" routerLink="/diagnostico">Diagnóstico</button>
              <button class="menu-btn" routerLink="/tratamento">Tratamentos</button>
            </aside>

            <main class="fibro-content">
              <h1 class="main-title">
                DIAGNÓSTICO DA <span>FIBROMIALGIA</span>
              </h1>

              <div class="text-box">O diagnóstico da fibromialgia é clínico, ou seja, depende da análise dos sintomas relatados e da avaliação médica. Como não existem exames que confirmem a condição diretamente, o processo ocorre por exclusão — o profissional descarta outras doenças que possam causar sintomas semelhantes e, a partir disso, identifica o quadro compatível com a fibromialgia.
              Durante a consulta, é comum que o paciente descreva o padrão de dor, sua duração e a presença de outros sinais, como fadiga e dificuldades cognitivas. O médico pode realizar exames de sangue ou imagem apenas para garantir que não há outra condição associada. O diagnóstico costuma ser concluído quando a dor generalizada persiste por pelo menos três meses e não há explicação alternativa.
              Por não haver marcadores específicos, o reconhecimento da fibromialgia exige uma abordagem atenta e cuidadosa. Um diagnóstico bem conduzido é fundamental para que o paciente compreenda o que está enfrentando e possa iniciar um plano de cuidado adequado e realista.

            </div>
            </main>
          </div>
    </div>
</div>
