*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.hero-header {
    width: 100%;
    min-height: 100vh;
    background: #b58cc6;
}

.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo .logo-text {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

nav .togglebtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    background-color: #b58cc6;
    display: none;
}

nav .togglebtn span{
    display: block;
    background-color: #6b1a8e;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks{
    list-style-type: none;
}

nav .navlinks li{
    display: inline-block;
}

nav .navlinks li a{
    color: #e5e5e5;
    margin-right: 2.5rem;;
}

.container{
    display: flex;
    justify-content: space-center;
    align-items: center;
    padding-top:  3rem;
    gap: 50px;
}

.container .hero-pic{
    width: 437px;
    height: auto;
}

.hero-pic img{
    max-width: 100%;
    height: auto;
}

.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5{
    color: #e5e5e5;
    font-size: 14px;
}

.hero-text h5 span{
    color: #80309b;
    font-size: 16x;
}

.hero-text h1{
    color: #e5e5e5;
    font-size: 3rem;
    margin: 20px 0;
}

.hero-text p{
    color: #e5e5e5;
}

.btn-group{
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.btn-group .btn{
    border-color: #d5d5d5;
    color: #fff;
    background-color: #80309b;
    padding: 12px 25px;
    border-radius: 30px;
    border: 2px solid #440e56;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

.btn.active{
    border-color: #440e56;
}

.hero-text .social a{
    color: #e5e5e5;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.5s;
}

.hero-text .social a:hover{
    color: #80309b;
}



@media(max-width: 930px)
{
    nav .togglebtn{
        display:block;
    }

    .click{
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }

    nav .navlinks {
        position: absolute;
        top: 100px;
        right: -100%;
        background: #80309b;
        width: 180px;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        transition: 0.3s ease;
    }

    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
        color: #fff;
    }
    nav .navlinks.open{
        right: 20px;
    }
}

@media(max-width: 768px)
{
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text{
        padding: 40px 0px;
    }
}
