<div class="hero-header">
  <div class="wrapper">
    <header>
      <div class="logo">
        <div class="logo-text">FIBRO.PB</div>
      </div>
      <nav>
        <div class="togglebtn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="navlinks">
          <li><a routerLink="/home">Início</a></li>
          <li><a routerLink="/sobre">Sobre</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <div class="hero-pic">
        <img src="pics/mulher.png" alt="home pic">
      </div>
      <div class="hero-text">
        <h5>Na Fibro <span class="input"></span></h5>
        <h1>Fibromialgia</h1>
        <p>Falar sobre fibromialgia é importante porque aumenta a compreensão, reduz o preconceito e ajuda a construir um ambiente mais empático pra quem convive com a condição. É sobre reconhecer a dor, validar a experiência e lembrar que ninguém precisa passar por isso sozinho.</p>
        <div class="btn-group">

            <a routerLink="/info" class="btn">Informações</a>
            <a routerLink="/sobre" class="btn">Detalhes</a>
        </div>

        <div class="social">
            <a href="#">Instagram</a>
            <a href="#">GitHub</a>
            <a href="#">E-mail</a>
        </div>
      </div>
    </div>
  </div>
</div>
