<div class="hero-header">
  <div class="wrapper">
    <header>
      <div class="logo">
        <div class="logo-text">FIBRO.PB</div>
      </div>
      <nav>
        <div class="togglebtn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="navlinks">
          <li><a routerLink="/home">Início</a></li>
          <li><a routerLink="/sobre">Sobre</a></li>
        </ul>
      </nav>
    </header>

          <div class="fibro-container">
            <aside class="fibro-menu">

              <button class="menu-btn" routerLink="/info">Fibromialgia</button>
              <button class="menu-btn active" routerLink="/sintomas">Sintomas</button>
              <button class="menu-btn" routerLink="/causas">Causas</button>
              <button class="menu-btn" routerLink="/diagnostico">Diagnóstico</button>
              <button class="menu-btn" routerLink="/tratamento">Tratamentos</button>
            </aside>

            <main class="fibro-content">
              <h1 class="main-title">
                SINTOMAS DA <span>FIBROMIALGIA</span>
              </h1>

              <div class="text-box">A fibromialgia se manifesta principalmente por dores generalizadas que se espalham pelo corpo e variam de intensidade ao longo do dia. Essa dor costuma ser descrita como constante, incômoda e profunda, podendo atingir músculos, articulações e regiões específicas do corpo. Não há sinais visíveis, como inchaço ou inflamação, mas a sensação dolorosa é real e persistente.
              Além da dor, muitos pacientes relatam fadiga intensa, mesmo após períodos de descanso. O sono geralmente não é reparador, o que contribui para o cansaço acumulado e para a dificuldade de manter o ritmo das atividades diárias. Outro sintoma comum é o chamado “nevoeiro mental”, caracterizado por lapsos de atenção, dificuldade de concentração e lentidão no raciocínio.
              Também podem ocorrer sensibilidade aumentada ao toque, mudanças de temperatura, luz ou sons. Em alguns casos, surgem dores de cabeça frequentes, formigamentos, rigidez muscular ao acordar e alterações no humor, como maior irritabilidade ou ansiedade. Esses sintomas não aparecem da mesma forma em todas as pessoas, mas compõem o quadro característico da fibromialgia e ajudam a entender seu impacto na vida cotidiana.

            </div>
            </main>
          </div>
    </div>
</div>
