<div class="hero-header">
  <div class="wrapper">
    <header>
      <div class="logo">
        <div class="logo-text">FIBRO.PB</div>
      </div>
      <nav>
        <div class="togglebtn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="navlinks">
          <li><a routerLink="/home">Início</a></li>
          <li><a routerLink="/sobre">Sobre</a></li>
        </ul>
      </nav>
    </header>

          <div class="fibro-container">
            <aside class="fibro-menu">

              <button class="menu-btn active">Fibromialgia</button>
              <button class="menu-btn" routerLink="/sintomas">Sintomas</button>
              <button class="menu-btn" routerLink="/causas">Causas</button>
              <button class="menu-btn" routerLink="/diagnostico">Diagnóstico</button>
              <button class="menu-btn" routerLink="/tratamento">Tratamentos</button>
            </aside>

            <main class="fibro-content">
              <h1 class="main-title">
                O QUE É <span>FIBROMIALGIA?</span>
              </h1>

              <div class="text-box">A fibromialgia é uma condição crônica caracterizada por dor generalizada, sensibilidade aumentada e alterações na forma como o sistema nervoso interpreta os sinais de dor. Ela não está associada a inflamações visíveis ou danos nos tecidos, o que faz com que os sintomas nem sempre apareçam em exames tradicionais. Mesmo assim, é uma condição real, reconhecida e que pode impactar significativamente a rotina, o sono, a energia e as atividades diárias.
              Embora a causa exata ainda não seja totalmente compreendida, sabe-se que a fibromialgia envolve um processamento sensorial diferente, tornando estímulos comuns mais intensos do que deveriam ser. Por isso, seu entendimento exige uma abordagem cuidadosa, que considere tanto os aspectos físicos quanto emocionais envolvidos. Esta página tem como objetivo oferecer uma visão inicial sobre a condição, preparando o leitor para conhecer melhor seus sintomas, formas de diagnóstico e possibilidades de tratamento.
            </div>
            </main>
          </div>
    </div>
</div>
